h1 {
    color: darkblue;
    font-size: 34px;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 22px;
    color: black;
}

p {
    color: darkslategray;
}

div {
    font-weight: normal;
    color: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#header {
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media print {
    .no-print {
        display: none;
    }
}

@media (min-width: 900px) {
    .col-md ol li {
        font-size: medium;
    }
}

@media (max-width: 899px) {
    .col-md ol li {
        font-size: small;
    }
}

.col-md li {
    font-weight: bold;
}

.col-md ol li {
    font-style: italic;
    font-weight: normal;
}

.tabla th {
    border: 1px solid lightgray;
    border-collapse: collapse;
    background-color: darkblue;
    color: lightgray;
    padding: 10px;
}

.tabla td {
    border: 1px solid darkblue;
    border-collapse: collapse;
    padding: 10px;
}